* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

input, select {
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen !important;
    transition: 0.3s;
}
